<p>observables works!</p>


<a [routerLink]="['./formEvent']">FromEvent</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./intervalAndTimer']">Interval And Timer</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./switchMap']">Switch Map</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./ofAndFrom']">Of And From</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./concatAndMerge']">Concat And Merge</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./conactMap']">Concat Map</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./mergeMap']">Merge Map</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./map']">Map</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./filter']">Filter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./catchAndThrow']">Catch And Throw</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      