<p>Mergemap works!</p>  

<div class="row">
<div class="card col-md-6">
    <div class="card-header">
        Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">By Using Map</h5>
    <hr>
    <div class="card-header"><strong>map</strong></div>
    <ul id="firstId"></ul>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> -->   
</div> 
</div>
<div class="card col-md-6">
    <div class="card-header">
        Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">By Using MergeAll</h5> 
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> -->  
    <hr>  
    <div class="card-header"><strong>map + mergeAll</strong></div>
    <ul id="secondId"></ul>
</div> 
</div>
<div class="card col-md-6">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">By Using MergeMap</h5>
    <hr>   
    <div class="card-header"><strong>mergeMap</strong></div>
    <ul id="thirdId"></ul>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> -->  
</div> 
</div>
</div>