<p>filter works!</p>  

<div class="row">
<div class="card col-md-4">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">Filter By Length Of Name</h5>
    <hr>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> --> 
    <table>
        <tr>
            <th>Id</th>&nbsp;
            <th>Name</th>&nbsp;&nbsp;&nbsp;
            <th>Gender</th>
        </tr>
        <tbody *ngFor="let val of values">
            <td>{{val.id}}</td>&nbsp;
            <td>{{val.name}}</td>&nbsp;&nbsp;
            <td>{{val.gender}}</td>
        </tbody>
    </table>
</div> 
</div>
<div class="card col-md-4">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">Filter By Gender</h5>
    <hr>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> --> 
    <table>
        <tr>
            <th>Id</th>&nbsp;
            <th>Name</th>&nbsp;&nbsp;&nbsp;
            <th>Gender</th>
        </tr>
        <tbody *ngFor="let val1 of values1">
            <td>{{val1.id}}</td>&nbsp;
            <td>{{val1.name}}</td>&nbsp;&nbsp;
            <td>{{val1.gender}}</td>
        </tbody>
    </table>
</div> 
</div>
<div class="card col-md-4">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">Filter By Nth Number Sequence</h5>
    <hr>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> --> 
    <table>
        <tr>
            <th>Id</th>&nbsp;
            <th>Name</th>&nbsp;&nbsp;&nbsp;
            <th>Gender</th>
        </tr>
        <tbody *ngFor="let val2 of values2">
            <td>{{val2.id}}</td>&nbsp;
            <td>{{val2.name}}</td>&nbsp;&nbsp;
            <td>{{val2.gender}}</td>
        </tbody>
    </table>
</div> 
</div>
</div>