<p>practice-observable works!</p>

<a [routerLink]="['./practiceOfAndFrom']">Of And Form</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceIntervalAndTimer']">Interval And Timer</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceMap']">Map</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceFilter']">Filter</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceTake']">Take</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceConactAndMerge']">Concat And Merge</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceCatchAndThrow']">Catch, Throw And Retry</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceFromEvent']">FromEvent</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practicePluck']">Pluck</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceTap']">Tap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceSwitchMap']">Switchmap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceMergeMap']">Mergemap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceConcatMap']">Concatmap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceMapVsMergemapVsConcatmap']">Map Vs Mergrmap Vs Concatmap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practiceConcatmapVsMergemapVsSwitchmap']">Concatmap Vs Mergrmap Vs Switchmap</a>&nbsp;&nbsp;&nbsp;
<a [routerLink]="['./practicebouncetimeanddistinctuntilchangedComponent']">DebounceTime AnddistinctUntilChanged</a>&nbsp;&nbsp;&nbsp;<br><br>