<p>ofandfrom works!</p>

<div class="row">
<div class="card col-md-6">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">Of</h5>
    <hr>
    <p>
    <strong class="border py-2 px-1 rounded bg-light">Data : of("Supriya","Sandhya","Shailaja")</strong>
    </p>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> --> 
    <ul id="listData"></ul>
    <hr>
    <p class="row col-md-12">
    <strong class="border py-2 px-1 rounded bg-light">Data : of(&#123;"a":"Angular","b":"Php","c":" Core Java"&#125;)</strong>
    </p>
    <ul>
        <li>{{objData.a}}</li>
        <li>{{objData.b}}</li>
        <li>{{objData.c}}</li>
    </ul>
</div> 
</div>
<div class="card col-md-6">
    <div class="card-header">
      Observable Operator
    </div>
<div class="card-body">
    <h5 class="card-title">From</h5>
    <hr>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
    <!-- <button type="button" class="btn btn-primary">Click Me</button> --> 
    <p>
        <strong class="border py-2 px-1 rounded bg-light">Data : from(["Computer","Mechanical","Civil"])</strong>
    </p>
    <ul id="arrayId"></ul>
    <hr>
    <p>
        <strong class="border py-2 px-1 rounded bg-light">Data : from("Hii, I am Supriya Jadhav")</strong>
    </p>
    <ul id="stringId"></ul>
</div> 
</div>